.main-container {
	margin-left: 250px;
}

.sidebar {
	background-color: #333;
	color: #fff;
	display: block;
	height: 100%;
	left: 0;
	padding-top: 20px;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 10;
}
